
@{
    ViewBag.Title = "CurrencyConversion";
}
<script src="~/Scripts/currency.js"></script>
<div style="margin-top:10px" class="row">
    <div class="col-sm-3">
        <label class="control-label">from</label>
       <select id="ddlfrom" class="form-control">

        </select>
    </div>
   
    <div class="col-sm-3">
        <label class="control-label">TO</label>
        <select id="ddlTo" class="form-control"></select>
    </div>
    <div class="col-sm-1"></div>
</div>
<div style="margin-top:10px" class="row">
    <div class="col-sm-3">
        <label class="control-label">AMOUNT</label>
        <input type="number" id="txtamount" class="form-control" value="1" />
    </div>
    <div class="col-sm-1 "></div>
        <div class="col-sm-3">
            <label class="control-label">RESULT </label>
            <input type="number"  class="form-control" id="txtoutput" readonly />
        </div>
        <div style="padding-top:25px;" class="col-sm-1">
            <button id="btnsubmit" onclick="Calculate()" class="btn btn-primary">CONVERT</button>
        </div>
    </div>




